.container-main {
  display: flex;
  flex-direction: column;
}

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &--pages {
    display: flex;
    justify-content: space-between;
  }
  &--link {
    margin: 0 20px;
    text-decoration: none;
  }
}


.perfil--main {
  clip-path: polygon(0 25%, 75% 0%, 100% 5%, 100% 100%, 0% 95%);
}
