@import "about/stackoverflow";
@import "about/header";
@import "about/lichess";
@import "about/github";

@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/article.scss";
@import "components/bg_video.scss";
@import "components/i18n.scss";
@import "components/_post_article.scss";
@import "components/desordenado.scss";
@import "components/img_vuelta.scss";
@import "components/mosaico-1.scss";
@import "components/noticias.scss";
@import "components/perfil.scss";
@import "components/videos.scss";

@import "estudios/_e_flexbox.scss";

@import "layout/footer";
@import "layout/grid";
@import "layout/navigation-mobile";
@import "layout/navigation";
@import "layout/pagem";
@import "layout/sidebar";

@import "pages/about";
@import "pages/home";
@import "pages/tango";

@import "reflexiones/artesano_siglo_xxi.scss";

body {
  // font-family: 'AnticDidone';
  // font-family: 'Neuton';
  font-family: $font-primary;
  // font-weight: 400;
  font-weight: 700;
}

.home {
  margin: 0 40rem;
}
