.perfil {
  &--main {
    clip-path: polygon(0 25%, 75% 0%, 100% 5%, 100% 100%, 0% 95%);
  }

  &__surround {
    &--container {
      margin: 20px;
      text-align: center;
    }

    &--img {
      float: left;
      margin: 5px;
    }

    &--paragraph {
      text-align: justify;
      font-size: 25px;
    }
  }
}
