.post-article {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  grid-gap: 3rem;
  color: var(--color-grey-light-4);

  & > div {
    border-top: 6px solid var(--color-tertiary-dark-2);
  }

  & > p {
    border-top: 6px solid var(--color-tertiary-dark-2);
    & > a {
      &:link,
      &:visited {
        color: var(--color-secondary-light-2);
      }
      &:hover,
      &:active {
        color: var(--color-primary-light-2);
      }
    }
    & > strong {
      color: white;
    }
  }

}