.noticias {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  & > .noticias__heading {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
  }

  &__btn {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    position: relative;
    & h1 {
      // color: grass-bg;
      font-family: $font-display;
      color: var(--color-secondary-light-2);
      // background: crimson;
      border: none;
      -webkit-transition: all .7s ease;
      transition: all .7s ease;
      &:hover {
        background: transparent;
        // color: grass-color ;
        color: yellow;
        &:before,
        &:after {
          -webkit-transition: all .7s ease;
          transition: all .7s ease;
          width: 100%
        }
      }
      &:before,
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0px;
        width: 0px;
        height: 3px;
        background: violet ;
        transition: all .4s ease;
      }
      &:after {
        top: inherit;
        left: inherit;
        bottom: 0;
        right: 0;
      }
    }
  }
}

.noticia {
  grid-column: 2 / 3;
}