<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="container">
      {%- include header_simple.html -%}

      <div class="sidebar"></div>

      <main class="pagem" aria-label="Content">
        <h1 class="heading-primary u-center-text">
          <span class="heading-primary--main">{{page.title}}</span>
          <span class="heading-primary--sub">{{page.subtitle}}</span>
        </h1>
        <div class="wrapper">
          {{ content }}
        </div>
      </main>

      {%- include footer.html -%}
    </div>

  </body>

</html>
