<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{{ "/favicon.ico" | relative_url }}">
    <title>Fractal Figures kheitmann</title>
    <link href="{{ "/assets/css/fractal_vue/app.c4003470.css" | relative_url }}" rel="preload" as="style">
    <link href="{{ "/assets/css/fractal_vue/chunk-vendors.b5511a38.css" | relative_url }}" rel="preload" as="style">
    <link href="{{ "/assets/js/fractal_vue/app.4be6b087.js" | relative_url }}" rel="preload" as="script">
    <link href="{{ "/assets/js/fractal_vue/chunk-vendors.133e499d.js" | relative_url }}" rel="preload" as="script">
    <link href="{{ "/assets/css/fractal_vue/chunk-vendors.b5511a38.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "/assets/css/fractal_vue/app.c4003470.css" | relative_url }}" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but fractal_figures doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">

    </div>
    <script src="{{ "/assets/js/fractal_vue/chunk-vendors.133e499d.js" | relative_url }}">
    </script>
    <script src="{{ "/assets/js/fractal_vue/app.4be6b087.js" | relative_url }}"></script>
  </body>
</html>

