.footer {
  background-color: var(--color-primary-dark-2);
  padding: 3rem 20rem;
  color: var(--color-grey-light-1);
  grid-row: -2 / -1;
  grid-column: init-vp / end-vp;

  display:grid;
  grid-template-columns: repeat(2, minmax(25rem, 1fr));

  &__text {
    font-size: 1.6rem;
    font-weight: 900;
  }
}