.galeria-proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 1.5rem;
  height: 0px;
  overflow-y: scroll;
  padding-bottom: 0px;
  border-bottom: 1px solid black;
  &__heading {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
    padding: 0 5rem;
    font-size: 2.5rem;
  }

  &--show {
    height: 50vh;
    padding-bottom: 2rem;
  }
  // transition: all .8s;
  // transition: all .8s cubic-bezier(1,.01,0,.99);
  transition: all 1.3s cubic-bezier(1,.01,0,.99);
}

.btn-ver-proyectos {
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: var(--color-grey-light-4);
  background-color: var(--color-primary-light-1);
  &:hover {
    background-color: var(--color-primary-light-2);
  }
}

.galeria-proyecto {
  &__link:link,
  &__link:visited {
    // text-transform: ;
    color: var(--color-grey-light-1);
    text-decoration: underline;
  }

  &__link:hover,
  &__link:active {
    // text-transform: ;
    text-decoration: underline;
    color: var(--color-grey-light-2);
  }
}