.pagem {
  grid-row: 2 / -2;
  grid-column: full-start / full-end;

  @include respond(phone) {
    grid-column: init-vp / end-vp;
    // grid-column: init-vp / full-end;
    // grid-column: full-start / full-end;
  }

}