/*
.sidebar {
  grid-row: 2 / -2;
  grid-column: sidebar-start / sidebar-end;

  background-color: var(--color-secondary-dark-1);
  color: var(--color-grey-light-1);
  overflow:hidden;

  & ul li a:link,
  & ul li a:visited {
    list-style: none;
    text-decoration: none;
    color: inherit
  }
}
*/

.sidebar {
  // background: #ca0;
  background-color: var(--color-secondary-dark-1);
  color: var(--color-grey-light-1);
  overflow: hidden;
  width: 20rem;
  transition: 1s;

  & ul {
    list-style: none;
  }
  & ul li a:link,
  & ul li a:visited {
    text-decoration: none;
    color: inherit
  }
}

.sidebar * {
  opacity: 0;
  transition: 1s;
}

.sidebar:hover {
  width: 50rem;
  padding: 5rem 3rem;
}

.sidebar:hover * {
  opacity: 1;
}

