:root {
  --color-primary: #32000A; /* Main Primary color */
  --color-primary-dark-2: #270008;
  --color-primary-dark-1: #41020F;
  --color-primary-light-1: #6B0015;
  --color-primary-light-2: #9D001F;

  --color-secondary: #361300; /* Main Secondary color (1) */
  --color-secondary-dark-2: #2A0F00;
  --color-secondary-dark-1: #461B03;
  --color-secondary-light-1: #732900;
  --color-secondary-light-2: #A83D00;

  --color-tertiary: #27001E; /* Main Secondary color (2) */;
  --color-tertiary-dark-2: #1E0018;
  --color-tertiary-dark-1: #330228;
  --color-tertiary-light-1: #530041;
  --color-tertiary-light-2: #7A005F;

  // --color-primary: #DC143B;
  // --color-primary-light-1: #E54162;
  // --color-primary-light-2: #E54162;
  // --color-primary-dark-1: #AD0728;
  // --color-primary-dark-2: #88001B;

  // --color-secondary: #EC6316;
  // --color-secondary-light-1: #F68646;
  // --color-secondary-light-2: #FFA470;
  // --color-secondary-dark-1: #BA4808;
  // --color-secondary-dark-2: #923500;

  // --color-tertiary: #AC1089;
  // --color-tertiary-light-1: #B33397;
  // --color-tertiary-light-2: #C657AD;
  // --color-tertiary-dark-1: #87066B;
  // --color-tertiary-dark-2: #6A0053;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-white: #fff;
  --color-dark: #000;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*
  1. Calculamos todos los rem con la medida de font-size: 10px
  2. Si el usuario no cambia la root-font-size, y se usa 100%, font-size sería 16px.
  Como queremos que para los calculos de rem sea font-size 10 px y no 16px, para que nos de las medidas correctas, entonces aplicamos:
  10/16 = 0.625. Asi que se pone font-size: 62.5% para que la fuente de 100% se reduzca a 62.5%, y con eso las otras medidas calcen con el calculo
  que habiamos hecho de font-size: 10px;
  */
  font-size: 62.5%;

  @include respond(tab-land) { // width < 1200 ?
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) { // width  < 900 ?
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1 rem = 12, 12/16=75%
  }
}

body {
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: var(--color-tertiary-light-2);
  color: $color-white;
}

